
@{
    ViewBag.Title = "ResetPassword";
}

<main>
    <div class="FormPage aLoginPageForUser">
        <div class="container-xl">
            <div class="row w-100 p-0 m-0 pt-5">
                <div class="form-headline col-lg-6 col-md-8 col-sm-10">
                    <p>استعادة كلمة السر</p>
                </div>
            </div>
            <div class="row w-100 m-0">
                <div class="col-lg-6 col-md-8 col-sm-10 TheForm">
                    <form class="align-middle" action="/Login/ResetPasswordOR" method="post" style="width:90%;margin:auto;">
                        <p style="color:red;font-size:1.2rem;margin-top:20px"> @ViewBag.ERooor</p>
                        <div class="row m-0" style="position: relative;">
                            <input class="col m-auto mt-4 rounded-2" type="email" name="emailField" id="emailField" placeholder="البريد الالكتروني" value="@ViewBag.Emaill" required>
                            <label for="passwordField"><img src="./Assets/imgs/icons8_email_sign_2.svg" alt="" style="position: absolute; top: 50%;transform: translate(0, -50% );"></label>
                        </div>
                        <div class="row m-0 mt-2">
                            <input class="col-md-5 m-auto mt-3 rounded-2 px-0" type="submit" value="إرسال" name="" id="submitBtn">
                        </div>
                    </form>
                </div>
            </div>
            <div class="layer"></div>
        </div>
    </div>
</main>

