@using Thalili.Models;
@{
    ViewBag.Title = "SetPassword";
}
@model user
<main>
    <div class="FormPage aLoginPageForUser">
        <div class="container-xl">
            <div class="row w-100 p-0 m-0 pt-5">
                <div class="form-headline col-lg-6 col-md-8 col-sm-10">
                    <p>تغيير كلمة السر</p>
                </div>
            </div>
            <div class="row w-100 m-0">
                <div class="col-lg-6 col-md-8 col-sm-10 TheForm">      
                    <form action="/login/ConfirmPassword/@Model.reset_pass_ac" method="post" style="width:90%;margin:auto;">
                        <div class="row m-0" style="position: relative;">
                            <input class="col m-auto mt-4 rounded-2" type="password" name="pass" id="passwordField" placeholder="الرقم السري" required>
                            <small>Error Message</small>
                            <label for="passwordField"><img src="./Assets/imgs/icons8_key.png" alt="" style="position: absolute; top: 50%;transform: translate(0, -50% );"></label>
                        </div>
                        <div class="row m-0" style="position: relative;">
                            <input class="col m-auto mt-4 rounded-2" type="password" name="pass" id="confirmpasswordField" placeholder="تأكيد الرقم السري" required>
                            <small>Error Message</small>
                            <label for="passwordField"><img src="./Assets/imgs/icons8_key.png" alt="" style="position: absolute; top: 50%;transform: translate(0, -50% );"></label>
                        </div>
                        <div class="row m-0 mt-2">
                            <input class="col-md-5 m-auto mt-3 rounded-2 px-0" type="submit" value="تغيير كلمة السر" name="" id="submitBtn">
                        </div>
                    </form>
                </div>
            </div>
            <div class="layer"></div>
        </div>
    </div>
</main>

