@using Thalili.Models
@model List<sub_order> 
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="labOwnerPage container-flud">
    <div class="row m-0">
        <div class="col-2"></div>
        <div class="col-10 leftCont pt-3 pe-3" id="Talbat">
            <i class="fa-solid fa-list-check leftsvg"></i>
            <h3 class="h3 d-inline lefth3">الطلبــــات</h3>
            <small class="d-block pb-3">مرحبا بك مجددا</small>
            <div class="leftCont-all">
                <div class="container pt-2 pb-5">
                    <div id="modernOrderes">
                        <p class="section-address">الطلبات الحديثة</p>
                        <div class="row table-head">
                            <div class="col">اسم العميل</div>
                            <div class="col">تاريخ الطلب</div>
                            <div class="col-5">
                                <div class="row flex-row text-center">
                                    <div class="col">اسم التحليل</div>
                                    <div class="col">العينات</div>
                                    <div class="col">العدد</div>
                                </div>
                            </div>
                            <div class="col">العنوان</div>
                            <div class="col">رقم المحمول</div>
                            <div class="col"></div>
                        </div>
                        @{int prevID = 0; } 
                        @foreach (var ord in Model)
                        {
                            if (prevID == ord.user_id)
                            {
                                prevID = 0;
                                continue;
                            }
                            prevID = ord.user_id;
                        <div class="row talabt-item" id="talabat-item-1">
                            <div class="col">@ord.user.name</div>
                            <div class="col">@ord.order.date</div>
                            <div class="col-5">
                                @foreach (var ords in Model)
                                {
                                    if(ords.user_id == ord.user_id)
                                    { 
                                <div class="row flex-row text-center">
                                    <div class="row mb-2 p-0">
                                        <div class="col align-self-center tahlilName">@ords.analysis_in_lab.medical_analysis.name</div>
                                        <div class="col">
                                            <div class="row flex-column">
                                                <div class="col"></div>
                                                <div class="col">عينة بول</div>
                                            </div>
                                        </div>
                                        <div class="col align-self-center">@ords.count</div>
                                    </div>
                                </div>
                                    }
                                }
                            </div>
                            <div class="col">شارع الضحك حي الضحك والضحكاوية عمارة 12</div>
                            <div class="col">01277735198</div>
                            <div class="col d-flex flex-column h-100 justify-content-around talabt-item-buttons">
                                <small class="d-none" style="color: #5B79CC;">تم ارسال المندوب</small>
                                <button type="submit" name="" data-of-parent="talabat-item-1" class="btn btn-primary px-2 mb-3" onclick="onsentrepres(this)">ارسال المندوب&nbsp;<i class="fa-solid fa-angle-left"></i></button>
                            </div>
                        </div>
                        }
                        <div id="oKOredered">
                            <p class="section-address">الطلبات الملباة</p>
                        </div>
                        <div class="text-center pt-5">
                            <a href=""><i class="fa-solid fa-circle-right"></i></a>
                            <span>page <span class="currentpage">1</span> of <span class="allpages">3</span></span>
                            <a href=""><i class="fa-solid fa-circle-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
