
@{
    ViewBag.Title = "RegisterConfirm";
}

<main>
    <div class="emailSent d-flex">
        <div class="container">
            <div class="row m-0 justify-content-center align-items-center h-100">
                <div class="col-10" style="direction: ltr;">
                    <h4 class="d-inline text-center"><i class="fa fa-check-circle"></i></h4>
                    <h4 class="d-inline h4 mt-5">A verification link has been sent to your email account</h4>
                    <hr>
                   
                    <p style="direction: ltr;">Please click on the link that has been sent to your email account to verfiy your email and continue the registration process.</p>
                </div>
            </div>
        </div>
    </div>
</main>

