
@{
    ViewBag.Title = "VerifyAccount";
}

<main>
    <div class="successPage d-flex">
        <div class="container">
            <div class="row m-0 justify-content-center align-items-center text-center h-100">
                <div class="col-8">
                    <i class="fa fa-check-circle"></i>
                    <h2 class="mt-5">Registered successfully</h2>
                </div>
            </div>
        </div>

    </div>
</main>


