
@{
    ViewBag.Title = "completeRequst";
}

<div class="completeRequestPage py-5">
    <div class="row flex-column align-content-center m-0">
        <p class="w-auto header">لقد تم تسجيل طلبك بنجاح</p>
    </div>
    <div class="row justify-content-center m-0 mt-3">
        <i class="fa-solid fa-circle-check"></i>
    </div>
    <div class="row flex-column align-content-center m-0 mt-5 text-center">
        <p class="w-auto bodymessage">الرجاء الانتظار حتي يتم الموافقة علي الطلب من المعمل</p>
        <p class="w-auto bodymessage">يمكنك متابعة حالة الطلب من خلال قائمة طلباتي الخاصة بالحساب الشخصي</p>
    </div>
</div>


