@using Thalili.Models
@model medical_analysis
@{
    ViewBag.Title = "EditAnalysis";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main>
    <div class="labOwnerPage container-flud">
        <div class="row m-0">
            <div class="col-2"></div>
            <div class="col-10 leftCont pt-3 pe-3">
                <i class="fa-solid fa-flask leftsvg"></i>
                <h3 class="h3 d-inline lefth3 ">التحاليل</h3>
                <small class="d-block pb-3">التحاليل&nbsp;&gt;&gt;&nbsp;تعديل <span>تحليل كورونا</span></small>
                <div class="row w-50 m-auto adminAddThalilPage">
                    <div class="container">
                        <div class="leftCont-all">
                            <div class="container pt-2 pb-5 rounded-3 mb-5">
                                <div>
                                    <p class="section-address">تعديل بيانات التحليل</p>
                                    <form action="" method="get" class="EditLabels">
                                        <input type="hidden" name="id" value="">
                                        <div class="row mb-3 align-items-center pt-4">
                                            <label class="col-4 lab-label" for="Ad_EditAnalysisname">اسم التحليل</label>
                                            <input class="col-7" type="text" name="name" value="" id="Ad_EditAnalysisname" required>
                                        </div>
                                        <div class="row mb-3 align-items-center">
                                            <label class="col-4 lab-label" for="Ad_EditAnalysisimage">الصورة</label>
                                            <input class="col-6" type="file" name="image" value="" id="Ad_EditAnalysisimage" onchange="clearChangeImage(this)" accept="image/png, image/gif, image/jpeg" required>
                                            <button type="button" class="col-1 btn btn-close d-none" onclick="removeImage(this)"></button>
                                        </div>
                                        <div class="row mb-3 align-items-center">
                                            <label class="col-4 lab-label" for="Ad_EditAnalysissample">العينة</label>
                                            <input class="col-7" list="samples" name="" value="" id="Ad_EditAnalysissample" autocomplete="off" required>
                                            <datalist id="samples">
                                                <option value="Edge">
                                            </datalist>
                                        </div>
                                        <div class="row mb-3 align-items-center">
                                            <label class="col-4 lab-label" for="Ad_EditAnalysisdes">الوصف</label>
                                            <textarea class="col-7" name="description" value="@Model.description" id="Ad_EditAnalysisdes" cols="30" rows="5"></textarea>
                                        </div>
                                        <div class="row justify-content-evenly align-items-center pt-4">
                                            <button type="button" class="col-4 btn btn-outline-primary" onclick="window.location.href=''">تجاهل التغيرات</button>
                                            <input type="submit" class="col-4 me-3 btn btn-primary" value="حفظ التعديلات">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
