
@{
    ViewBag.Title = "Index";
}

<main>
    <div class="userresultpage">
        <div class="m-auto" style="width: 95%;">
            <p class="section-address">نتائج التحاليل</p>
            <div class="py-4 px-3 section">
                <div class="row table-head m-0 text-center">
                    <div style="width: 11%;">معرف الطلب</div>
                    <div style="width: 13%;">تاريخ الطلب</div>
                    <div style="width: 27%;">
                        <div class="row flex-row text-center">
                            <div style="width: 40%;">اسم التحليل</div>
                            <div style="width: 40%;">العينات</div>
                            <div style="width: 20%;">العدد</div>
                        </div>
                    </div>
                    <div style="width: 10%;">اسم المعمل</div>
                    <div style="width: 13%;">العنوان</div>
                    <div style="width: 25%;"></div>
                </div>
                <div class="row m-0 talabt-item text-center mb-3" id="userResult-item-1">
                    <div style="width: 11%;">1</div>
                    <div style="width: 13%;">11,9,2020</div>
                    <div style="width: 27%;">
                        <div class="row mb-2 p-0">
                            <div class="align-self-center tahlilName" style="width: 40%;">covid-19</div>
                            <div style="width: 40%;">
                                <div class="row flex-column">
                                    <div class="col">عينة دم</div>
                                    <div class="col">عينة دم</div>
                                </div>
                            </div>
                            <div class="align-self-center" style="width: 20%;">1</div>
                        </div>
                    </div>
                    <div style="width: 10%;">معمل الحياة</div>
                    <div style="width: 13%;">شارع الضحك حي الضحك والضحكاوية - عمارة 12</div>
                    <div class="text-start" style="width: 25%;">
                        <!-- <p style="color: #6F7688;">لم ينتهي بعد<i class="fa-solid fa-clock me-1"></i></p> -->
                        <a href="" download="file-name" class="btn p-1 rounded-3 result-btn">تحميل نتيجة التحليل<i class="fa-solid fa-cloud-arrow-down me-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

