
@{
    ViewBag.Title = "Index";
}



<main>
    <div class="FormPage partnerPage">
        <div class="container-xl">
            <div class="row w-100 m-0 pt-5">
                <div class="col-lg-6 col-md-8 col-sm-10 TheForm">
                    <form id="LoginForm" class="align-middle" action="\JoinAsPartner\SaveData" method="post" style="width:90%;margin:auto;">
                        <h3 class="h3 pt-3">انضم كشريك</h3>
                        <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                        <div class="row justify-content-between m-0 mt-5" style="position: relative;">
                            <input class="col-7 rounded-2" type="text" name="name" id="labName" placeholder="اسم المعمل" required>
                     
                        </div>
                        <div class="row justify-content-between m-0 mt-4" style="position: relative;">
                            <input class="col rounded-2" type="text" name="location" id="labSite" placeholder="موقع المعمل " required>
                        </div>
                        <div class="row justify-content-between m-0 mt-4" style="position: relative;">
                            <input class="col-6 rounded-2" type="text" name="owner_name" id="partnerNameF" placeholder="الاسم " required>
                         
                        </div>
                        <div class="row justify-content-between m-0 mt-4" style="position: relative;">
                            <input class="col rounded-2" type="email" name="email" id="labMail" placeholder="البريد الاكتروني" required>
                        </div>
                        <div class="row justify-content-between m-0 mt-4" style="position: relative;">
                            <input class="col rounded-2" type="text" name="phone_number" id="labPhone" placeholder="رقم الهاتف الخاص" required>
                        </div>
                        <div class="row m-0 mt-5">
                            <input class="col-10 m-auto rounded-2 px-0" type="submit" value="ارسال الطلب" name="" id="submitBtn">
                        </div>
                    </form>
                </div>
            </div>
            <div class="layer"></div>
        </div>
</main>