
@{
    ViewBag.Title = "SaveData";
}


<main>
    <div class="aLoginPage aLoginPageForUser emailresetpassPage d-flex py-5" style="height:50vh;">
        <div class="container-xl d-flex flex-column justify-content-center">
            <div class="row linktoreset py-5 w-100 m-0 justify-content-center align-items-center text-center">
                <div class="col-12">
                    <h3>تم إرسال طلبك وجاري مراجعته  </h3>
                    <p>يرجي التحقق من بريدك الالكتروني</p>
                </div>
            </div>
            <div class="layer"></div>
        </div>
    </div>
</main>
